<div class="sidebar">
  <div class="sidebar-inner-index">
    <ul class="main-menu">
      <%- partial('partials/main_menu', { context: 'sidebar' }) %>
    </ul>
  </div>
</div>

<div id="front">
  <div id="hero">
    <div class="inner">
      <div class="left">
        <img class="hero-logo" src="<%- url_for("/images/logo.png") %>" alt="design-first logo">
      </div><div class="right">
        <h2 class="vue">design-first</h2>
        <h1>
          A REST api scaffolding<br>tool for Typescript
        </h1>
        <p>
          <a class="button" href="<%- url_for("/v0/guide/") %>">GET STARTED</a>
          <a class="button gray has-icon" href="https://github.com/adam-hanna/design-first" target="_blank">
            <%- partial('icons/github-dark') %>
            GITHUB</a>
        </p>
      </div>
    </div>
  </div>
  <div id="highlights">
    <div class="inner">
      <div class="point">
        <h2>Separates Concerns</h2>
        <p>design-first's philosophy of seperation of concerns means authentication, authorization and business logic are kept separate.</p>
      </div>

      <div class="point">
        <h2>Simple</h2>
        <p>As a scaffolding tool, design-first is kept small and allows the developer to make simple or complex api's.</p>
      </div>

      <div class="point">
        <h2>Design First</h2>
        <p>Spec out your app in a design.json file, first, and design-first takes care of the rest.</p>
      </div>
    </div>
  </div>
</div>

<div id="footer">
  <p>
    <a class="social-icon" href="https://github.com/adam-hanna/design-first" target="_blank">
      <%- partial('icons/github') %>
    </a>
    <!--
    <a class="social-icon" href="https://twitter.com/vuejs" target="_blank">
      <%- partial('icons/twitter') %>
    </a>
    <a class="social-icon" href="https://medium.com/the-vue-point" target="_blank">
      <%- partial('icons/medium') %>
    </a>
    -->
  </p>
  <p>Released under the <a href="https://opensource.org/licenses/MIT" target="_blank">MIT License</a><br>
  Copyright &copy; 2019-<%- new Date().getFullYear() %> Adam Hanna</p>
</div>

<script>
(function () {
  var topScrolled = false

  window.addEventListener('scroll', function () {
    if (window.pageYOffset > 165 && !topScrolled) {
      topScrolled = true
      document.getElementById('mobile-bar').classList.remove('top')
    } else if (window.pageYOffset <= 165 && topScrolled) {
      topScrolled = false
      document.getElementById('mobile-bar').classList.add('top')
    }
  })
})()
</script>
